<!-- <div class="clients">
    <div class="client" *ngFor="let client of clients">
        <article>
            <div>
                <h4>{{client.name}} {{client.surname}}</h4>
                <p>Contact: {{client.email}} - {{client.phone}}</p>
            </div>
            <a (click)="deleteClient(client)" class="boton-delete">Delete</a>
            <a [routerLink]="['/clients', client.id]" class="boton-detail">View Detail</a>
        </article>
        <hr>
    </div>
</div> -->

<div class="clients">
    <div class="client" *ngFor="let client of clients">
        <article>
            <div>
                <h4>{{client.name}} {{client.surname}}</h4>
                <p>Contact: {{client.email}} - {{client.phone}}</p>
            </div>
            <a [routerLink]="['/clients', client.id]" class="boton-detail">
                View Detail
            </a>
        </article>
        <hr>
    </div>
</div>