<div class="container">
    <div class="mechanic">
        <h4>Name: {{mechanic.name}} {{mechanic.surname}}</h4>
        <p>Username: {{mechanic.username}}</p>
        <p>{{mechanic.birthdate}}</p>
        <p>Contact: {{mechanic.phone}} - {{mechanic.email}}</p>
        <p>DNI: {{mechanic.dni}}</p>
        <p> Incorporation date: {{mechanic.incorporation_date | date:"dd-MM-yyyy"}}</p>
    </div>
    <div *ngFor="let reparation of reparations" class="reparations">
        <h3>REPARATIONS</h3>
        <p>Type of reparation: {{reparation.type}}</p>
        <p>More about: {{reparation.reparation}}</p>
        <p>Status: {{reparation.status}}</p>
        <p>Bill Number: {{reparation.bill_number}}</p>
        <p>Price: {{reparation.price}} € </p>
        <p>Start Date: {{reparation.date}}</p>
    </div>
</div>