<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8 offset-0 offset-lg-2">

            <form [formGroup]="formulary" (ngSubmit)="onSubmit()">
                <h1> NEW REPARATION </h1>
                <div class="form-group mb-3">
                    <!-- <label class="form-label">Status</label>
                    <select class="form-select" formControlName="status">
                        <option value="">Choose one of the following answers</option>
                        <option value="in_progress">In progress</option>
                        <option value="repaired">Repaired</option>
                        <option value="pending">Pending</option>
                   </select>-->
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Type of reparation</label>
                    <select class="form-select" formControlName="type_rep">
                        <option value="">Choose one of the following answers</option>
                        <option value="mechanic">Mechanic</option>
                        <option value="wheels">Wheels</option>
                        <option value="sheet_paint">Sheet and Paint</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Explain the reparation</label>
                    <input type="text" class="form-control" placeholder="Reparation" formControlName="reparation">
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">Price</label>
                    <input type="number" class="form-control" placeholder="Price" formControlName="price">
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Employee</label>
                    <select class="form-select" formControlName="users_id">
                        <option value="">Choose one of the following answers</option>
                        <option *ngFor="let user of users" [value]="user.id">{{user.name}} {{user.surname}}</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label class="form-label">Car</label>
                    <select class="form-select" formControlName="cars_id">
                        <option value="">Choose one of the following answers</option>
                        <option *ngFor="let car of cars" [value]="car.id">{{car.chasis}} - {{car.model}}</option>
                    </select>
                </div>



                <button type="submit" class="btn btn bg-success">Submit</button>
            </form>
        </div>
    </div>

</div>

<i class="bi bi-arrow-left-circle-fill" [routerLink]="['/administration']"></i>