
p, h4 {
    color: white;
}

button{
    margin: 30px;
}

i{
    font-size: 3rem;
    padding: 20px;
    cursor: pointer;
}

.container{
    margin-top: 40px;
}

strong{
    font-weight: 500;
    color: rgb(237, 225, 174);
  
}

h3{
    padding: 20px;
}

.admin{
    margin: auto;
   
    text-align: center;
} 