<div class="title-container d-flex flex-column align-items-center">
    <img src="https://i.postimg.cc/zGktHRFZ/Disen-o-sin-ti-tulo-Photo-Room-png-Photo-Room.png" alt="imagen">
    <div class="title-overlay center-block">
        <h1>ASPHALT AUTOMOTIVE</h1>
        <h2>We take care of your car since 1945</h2>
    </div>
    <div class=" button-container">
        <button class="login-btn">Login</button>
        <button class="register-btn">Register</button>
    </div>
</div>


<div class="container">
    <div class="row button-container">
        <h1>Services</h1>
        <div class="col-md-4">
            <button class="btn button btn-block">
                <div class="bg-dark rounded p-3">
                    <img src="https://i.postimg.cc/Gp5vVBLC/AZZURRO-PERLATO-15-1000x667.jpg" class="img-fluid rounded"
                        alt="mechanic">
                </div>
            </button>
            <p class="p-3 mb-2 text-lg text-center text-white">MECHANIC</p>
        </div>

        <div class="col-md-4">
            <button class="btn button btn-block">
                <div class="bg-dark rounded p-3">
                    <img src="https://i.postimg.cc/G2TvCcts/Como-pulir-los-faros-del-coche.jpg"
                        class="img-fluid rounded" alt="sheet-paint">
                </div>
            </button>
            <p class="p-3 mb-2 text-lg text-center text-white">SHEET AND PAINT</p>
        </div>

        <div class="col-md-4">
            <button class="btn button btn-block">
                <div class="bg-dark rounded p-3">
                    <img src="https://i.postimg.cc/vmBW07dh/Captura-de-pantalla-2023-04-14-a-las-20-23-34.png"
                        class="img-fluid rounded" alt="wheels">
                </div>
            </button>
            <p class="p-3 mb-2 text-lg text-center text-white">WHEELS</p>
        </div>
    </div>
</div>