<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">

                    <span class="tittle-company">ASPHALT CAR-MANAGER</span>
                </a>
            </li>
        </ul>
        <!-- MAIN -->
        <div> id= "main"
            <div class="main">
                <div class="topbar">
                    <div class="search">
                        <label for="">
                            <input type="text" placeholder="Search here">
                            <i class='bx bx-search-alt'></i>
                        </label>
                    </div>
                </div>
            </div>
            <!--CARS-->
            <div> id="cars"
                <div> class="cars">
                    <div> class=""
                    </div>
                </div>
            </div>
            <!---->
            <div>

            </div>