<div class="container">
    <article>
        <div class="client">
            <h4>CLIENT</h4>
            <h4>{{client.name}} {{client.surname}}</h4>
            <p> <strong>Email:</strong> {{client.email}}</p>
            <p> <strong>Phone:</strong> {{client.phone}}</p>
            <p> <strong>DNI:</strong> {{client.dni}}
            <p> <strong>Address:</strong> {{client.address}}</p>
            <p> <strong>Card number:</strong> {{client.card_number}}</p>


            <button type="button" class="btn btn-danger" (click)="deleteClient(client)">🗑️ DELETE</button>

            <button type="button" class="btn btn-warning" [routerLink]="['/clients', 'update', client.id]">✏️
                UPDATE</button>
        </div>

    </article>

    <br>

    <div *ngFor="let car of cars" class="cars">
        <h4>CLIENT CARS</h4>
        <p><strong>Chasis:</strong> {{car.chasis}}</p>
        <p><strong>Registration number: </strong> {{car.registration}}</p>
        <h5>{{car.brand}} {{car.model}}</h5>
        <p>Color: {{car.color}} </p>
        <p>KM: {{car.km}}</p>
        <p>Year: {{car.year}}</p>
        <p>Doors: {{car.doors}}</p>
        <p>Type of car: {{car.type}}</p>
        <p>Type of fuel: {{car.fuel}}</p>
        <p> <strong>Damages: </strong> {{car.damages}}</p>
    </div>
</div>

<i class="bi bi-arrow-left-circle-fill" [routerLink]="['/clients']"></i>