<div class="container">
    <div class="client">
        <p>Name: {{client.name}}</p>
        <p>Surname: {{client.surname}}</p>
        <p>Email: {{client.email}}</p>
        <p>Phone: {{client.phone}}</p>
        <p>DNI: {{client.dni}}
        <p>Address: {{client.address}}</p>
        <p>Card number: {{client.card_number}}</p>
    </div>


    <div *ngFor="let car of cars" class="cars">
        <h3>CLIENT CARS</h3>
        <p>Chasis: {{car.chasis}}</p>
        <p>Registration number: {{car.registration}}</p>
        <p>Brand: {{car.brand}}</p>
        <p>Model: {{car.model}}</p>
        <p>Color: {{car.color}} € </p>
        <p>KM: {{car.km}}</p>
        <p>Year: {{car.year}}</p>
        <p>Doors: {{car.doors}}</p>
        <p>Type of car: {{car.type}}</p>
        <p>Type of fuel: {{car.fuel}}</p>
        <p>Damages: {{car.damages}}</p>
    </div>
</div>