<div class="container">
    <div class="reparation">
        <p>Arrival date: {{reparation.date}}</p>
        <p>Status: {{reparation.status}}</p>
        <p>Type of reparation: {{reparation.type}}</p>
        <p>More about the reparation: {{reparation.reparation}}</p>
        <p>Price: {{reparation.price}} €
        <p>Bill Number: {{reparation.bill_number}}</p>
        <p>Car: {{reparation.cars_id}}</p>
        <button type="button" class="btn btn-danger" (click)="onDelete(reparation.id)">🗑️ DELETE</button>
        <button type="button" class="btn btn-warning" [routerLink]="['/reparations', 'edit', reparation.id]">✏️
            UPDATE</button>
    </div>

    <div *ngFor="let mechanic of mechanics" class="mechanic">
        <h4>MECHANIC FOR THIS CAR</h4>
        <h5>{{mechanic.name}} {{mechanic.surname}}</h5>
    </div>
</div>