<!-- FAVICON -->
<link rel="shortcut icon" href="./assets/img/favicon-s.png" type="image/x-icon">

<!-- BOXICONS -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<!-- NAVIGATION -->
<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                <!-- <span class="icon"><i class='bx bxs-car-mechanic'></i></span> -->
                <span class="tittle-company">ASPHALT CAR-MANAGER</span>
                </a>
            </li>

            <li class="active">
                <a href="#">
                <span class="icon"><i class='bx bx-home-alt-2'></i></span>
                <span class="tittle">Dashboard</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- MAIN -->

<div class="main">
    <div class="topbar">
        <div class="search">
            <form search #searcher="ngForm">
                <div>
                    <input class="form-control" type="text" name="search" autocomplete="off" placeholder=" Search by vehicle or customer" >
                    <button>SEARCH</button>
                </div>
            </form>
        </div>
    </div>

    <!-- REPARATIONS DETAILS -->

    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>reparation orders</h2>
                <a href="#" class="btn">View All</a>
            </div>
              
            <table>
                <thead>
                    <tr class="menu">
                        <th>Date</th>
                        <th>Reparation</th>
                        <th>Car</th>
                        <th>Mechanic</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Status</th>
                    </tr>                
                </thead>

                <tbody>
                    <!-- <tr *ngFor="let reparation of arrReparations">
                        <td>{{reparation.date}}</td>
                        <td>{{reparation.reparation}}</td>
                        <td>{{reparation.car}}</td>
                        <td>{{reparation.mechanic}}</td>
                        <td>{{reparation.type}}</td>
                        <td>{{reparation.price}}</td>
                        <select class="form-select" formControlName="status">
                            <option value="pending" class="status_pending">Pending</option>
                            <option value="revised" class="status_in-progress">In progress</option>
                            <option value="revised" class="status_repaired">Repaired</option>
                        </select>
                        <button>Send</button>
                    </tr> -->

                    <!-- <tr>
                        <td>Date</td>
                        <td>Reparation</td>
                        <td>Kia Sportage</td>
                        <td>Antonio Rodriguez</td>
                        <td>Mechanic</td>
                        <td>100€</td>
                        <select class="form-select" formControlName="status">
                            <option value="pending" class="status_pending">Pending</option>
                            <option value="revised" class="status_in-progress">In progress</option>
                            <option value="revised" class="status_repaired">Repaired</option>
                        </select>
                        <button>Send</button>
                    </tr>
    
                    <tr>
                        <td>Date</td>
                        <td>Reparation</td>
                        <td>MG Marvel R</td>
                        <td>Daniel Frieros</td>
                        <td>Wheels</td>
                        <td>90€</td>
                        <select class="form-select" formControlName="status">
                            <option value="pending" class="status_pending">Pending</option>
                            <option value="revised" class="status_in-progress">In progress</option>
                            <option value="revised" class="status_repaired">Repaired</option>
                        </select>
                        <button>Send</button>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div> 
</div>






