/* Globals */

.container-fluid{
    position: relative;
    width: 100%;
}

/* NAVIGATION */

.row{
    position: fixed;
    width: 300px;
    height: 100%;
    background: #1E2126;
    border-left: 10px solid #1E2126;
    transition: 0.5s;
    overflow: hidden;
}

.row ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.row ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.row .active{
    background-color: #F4F6FC;
}

.row ul li:hover{
    background-color: #F4F6FC;
}

.row ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.row ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #333333;
}

.row ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.row ul li a .icon bxs-car-mechanic{
    font-size: 1.75rem;
}

.row ul li a .icon bx-home-alt-2{
    font-size: 1.75rem;
}

.row ul li a .tittle-company{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
    font-weight: 600;
}

.row ul li a .tittle{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/* curve outside */

.row ul li :hover a::before{
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px #F4F6FC;
    pointer-events: none;
}

.row ul li :hover a::after{
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px #F4F6FC;
    pointer-events: none;
}

/* MAIN */

.main{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #F4F6FC;
    transition: 0.5s;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.search{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label{
    position: relative;
    width: 100%;
}

.search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid #1E2126;
}

.search label i{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
    color: #1E2126;
}

/* REPARATIONS DETAILS */

.details{
    width: 100%;
    padding: 20px;
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    grid-gap: 30px;
    margin-top: 10px;
}

.details .recentOrders{
    display: grid;
    min-height: 500px;
    background-color: #fff;
    opacity: 0.9;
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.details .cardHeader{
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
}

.cardHeader h2{
    display: inline;
    font-weight: 600;
    color: #333333;
    text-transform: uppercase;
}

.cardHeader .btn{
    position: relative;
    padding: 5px 10px;
    background: #1E2126;
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
    font-size: 15px;
}

.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.menu{
    font-weight: 600;
}

.details .recentOrders table tr{
    color: #333333;
    border-bottom: 1px solid grey;
}

.details .recentOrders table tr:last-child{
    border-bottom: none;
}

/* .details .recentOrders table tr:hover{
    background-color: #BACBDB;
    color: #F4F6FC;
} */

.details .recentOrders table td{
    padding: 10px;
}

.details .recentOrders table td:last-child{
    text-align: start;
}

.details .recentOrders table td:last-child{
    text-align: start;
}

.form-select{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.form-select option{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid #1E2126;
}

.status_pending{
    background-color: #FF6961;
    color: #333333;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status_repaired{
    background-color: #81C3C9;
    color: #333333;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status_in-progress{
    background-color: #84B6F4;
    color: #333333;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

button{
    padding: 5px 10px 5px;
    background: #1E2126;
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px;
    font-size: 15px;
    position: relative;
    width: 100%;
    margin-top: 10px;
}




