<!-- FAVICON -->
<link rel="shortcut icon" href="./assets/img/favicon-s.png" type="image/x-icon">

<!-- BOXICONS -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<!-- NAVIGATION -->
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a class="nav-link align-middle px-0">
                            <span class="active" class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/home" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline">Home</span> </a>
                    </li>

                    <!-- Hay que poner un método que elimine los datos del usuario logeado cuando se vaya -->
                    <li>
                        <a routerLink="/home" class="nav-link px-0 align-middle">
                            <span class="ms-1 d-none d-sm-inline">Logout</span> </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<!-- MAIN -->

<div class="main">
    <div class="topbar">
        <div class="search">
            <input class="form-control" type="text" name="search" autocomplete="off" placeholder=" Search by vehicle or customer">
            <button class="btn-search">SEARCH</button>
        </div>
    </div>

    <!-- REPARATIONS DETAILS -->

    <div class="details">
        <div class="recentOrders">
            <div class="cardHeader">
                <h2>reparation orders</h2>
                <a href="#" class="btn">View All</a>
            </div>
              
            <table>
                <thead>
                    <tr class="menu">
                        <th>Date</th>
                        <th>Reparation</th>
                        <th>Car</th>
                        <th>Mechanic</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Status</th>
                    </tr>                
                </thead>

                <tbody>
                    <!-- <tr *ngFor="let reparation of reparations">
                        <td>{{reparation.date}}</td>
                        <td>{{reparation.reparation}}</td>
                        <td>{{reparation.car}}</td>
                        <td>{{reparation.mechanic}}</td>
                        <td>{{reparation.type}}</td>
                        <td>{{reparation.price}}</td>
                        <select class="form-select" formControlName="status">
                            <option value="pending" class="status_pending">Pending</option>
                            <option value="revised" class="status_in-progress">In progress</option>
                            <option value="revised" class="status_repaired">Repaired</option>
                        </select>
                        <button>Send</button>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div> 
</div>