.bg-dark {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #1E2126;
}

span {
    font-weight: bold;
}

.btn {
    min-height: 3.125rem;
    font-weight: 600;
}

.form-control {
    background-color: #16191C;
    min-height: 3.125rem;
    line-height: initial;
}

.form-control:focus {
    color: #ffffff;
}

img {
    width: 100%
}

#logo {
    width: 25%
}

span {
    color: #CE9529;
    cursor: pointer;
}

.btn {
    background-color: #CE9529;
    color: #16191C;
    border: 1px solid #16191C;
}

.btn:hover {
    background-color: #E4C58C;
    color: #16191C;
    border: 1px solid #16191C;
}

.img-1 {
    background-image: url('/assets/img/asphalt-01.jpg');
    background-size: cover;
    background-position: center;
}

input.ng-valid.ng-touched {
    border-color: lightgreen;
}

input.ng-invalid.ng-touched {
    border-color: tomato;
}

.error {
    color: tomato;
}