<body class="bg-dark">
  <section>
    <div class="row g-0">
      <div class="col-lg-7 d-none d-lg-block">
        <img class="rounded float-start img-1 min-vh-100">
      </div>

        <div class="col-lg-5 bg-dark d-flex flex-column align-items-end min-vh-100">
            
            <div class="px-lg-5 pt-lg-4 pb-lg-3 p-4 mb-auto w-100">
                <img src="/assets/img/logo.png" id="logo" class="rounded mx-auto d-block" />
            </div>
            
            <div class="align-self-center w-100 px-lg-5 py-lg-4 p-4">
            <p class="font-weight-bold mb-4 text-center">I'm a new user. Sign up <span routerLink="/register">here</span> </p>
            <h1 class="font-weight-bold mb-4 text-center">WELCOME BACK</h1>
            
            <form class="mb-5" [formGroup]="formulary" (ngSubmit)="onSubmit()">
              <div class="mb-4">
                <label class="form-label font-weight-bold">DNI</label>
                <input type="text" class="form-control bg-dark-x border-0" placeholder="Enter your DNI" formControlName="dni">
                <!-- <p class="error" *ngIf="checkError('dni', 'required')">
                This field is required.
                </p> -->
              </div>

              <div class="mb-4">
                <label class="form-label font-weight-bold">Email</label>
                <input type="email" class="form-control bg-dark-x border-0" placeholder="Enter your email" formControlName="email">
                <p class="error" *ngIf="checkError('email', 'required')">
                  <!-- This field is required. -->
              </p>
              </div>
              
              <div class="mb-4">
                <label class="form-label font-weight-bold">Password</label>
                <input type="password" class="form-control" class="form-control bg-dark-x border-0 mb-2" placeholder="Enter your password" formControlName="password">
                <p class="error" *ngIf="checkError('password', 'required')">
                  <!-- This field is required. -->
              </p>
              </div>
              
              <button type="submit" class="btn btn-primary w-100">SUBMIT</button>
            </form>

            </div>
        </div>
    </div>
  </section>
</body>

<!-- Foto coche amarillo perteneciente a Mark Neal en Pexels: https://www.pexels.com/es-es/foto/coche-amarillo-2218915/ -->