/* --GOOGLE FONTS-- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/* font-family: 'Montserrat', sans-serif; */

:root {
    --dark: #16191C;
    --dark-x: #1E2126;
    --light: #ffffff;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #1E2126;
}

strong{
    font-weight: 700;
}